<p style="color: green"><%= notice %></p>
<div id="books" class="container">
  <h1>Listing Books</h1>
  <div class="text-end">
    <%= link_to "New Book", new_book_path, class: "btn btn-outline-primary" %>
  </div>
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to "Show this book", book %>
    </p>
  <% end %>
</div>
<%= link_to "New book", new_book_path %>
<%= will_paginate @books, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
