<p style="color: green"><%= notice %></p>
<div id="books" class="container">
  <h1>Listing Books</h1>
  <div class="text-end">
    <% if can? :new, Book %>
      <%= link_to "New Book", new_book_path, class: "btn btn-outline-primary" %>
    <%end%>
  </div>
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to "Show this book", book if can? :read, book %>
    </p>
  <% end %>
</div>
<% if can? :create, Book %>
  <%= link_to "New book", new_book_path %>
<%end%>
<%= will_paginate @books, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
